<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password Entry</title>
<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="main-container">
<h1>Enter Password</h1>
<hr>
<form id="loginForm" action="./validatePassword" method="post"
autocomplete="off">
<div class="form-element col-6">
<label class="username" for="username">Username:</label>
</div>
<div class="form-element col-6">
<label class="username"><%= uName %></label>
</div>
<div class="form-element col-6">
<label class="PIN" for="PIN">Password</label>
</div>
<div class="form-element col-6">
<input name="pwd" type="password" id="Password"
pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8
,}$" placeholder="Password" autofocus><br>
</div>
<div class="form-element">
<button class="btn" id="submit">Submit</button>
</div>
</form>
</div>
</body>
</html>